/*___________FONTS______________*/

@font-face {
    font-family: "Expletus Sans Bold";
    src: url("../fonts/ExpletusSans-Bold.ttf");
}

@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/OpenSans-Light.ttf");
}

/*________TEXT DEFINITION___________*/

h1 {
  color: rgb(255,215,35);     /*gelb*/
  font-family: "Expletus Sans Bold", Verdana;
  font-size: 6em;
  text-align: left;
  margin-top: 0;
}

h2 {
  color: rgb(19,124,55);    /*grün*/
  font-family: "Open Sans Light";
  font-size: 3em;
  text-align: left;
}

h3 {
  color: rgb(255,215,35);
  font-family: "Expletus Sans Bold";
  font-size: 2.5em;
  text-align: left;
}

h6 {
  color: rgb(19,124,55);
  font-family: "Open Sans Light";
  font-size: 0.8em;
}


p {
  font-family: "Open Sans Regular";
  font-size: 1.5em;
  color: rgb(19,124,55);
}


/*_______BROWSER________*/

body {
  margin: 0;
}

.row{
  width: auto;
  padding: 1rem;
  width: auto;
  padding-bottom: 0;
  flex-flow: row wrap;
}

.zweidrittel{
  width: 66.666%;
  float: left;
  background-color: rgba(10,10,30,0.1);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.drittel{
  width: 33.3333%;
  background-color: rgba(10,10,10,0.1);
  float: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ganz{
  width: 100%;
  display: table;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem 6rem;
}


#lines-box{
  float:right;
  border-left: 6px solid rgb(19,124,55);
  margin-top: -1rem;
  border-bottom: 6px solid rgb(19,124,55);
  margin-right: 5rem;
  display: block;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 105;
}

#whitebox-top{
  display: block;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 106;
  width: 5rem;
  height: 7.5rem;
}

#NameNav{
  font-size: 2rem;
  color: rgb(19,124,55);
  text-align: center;
  font-family: "Expletus Sans Bold";
  float: right;
  background-color: rgb(255,215,35);
  max-width: 350px;
  margin: 1rem;
  padding: 1rem 2rem;
  margin-top: 3rem;
  z-index: 110;
}

#vl-r{
  right: 0;
  position: fixed;
  display: block;
  background-color: white;
  width: 4.95rem;
  z-index: 104;
  border-left: 6px solid rgb(19,124,55);
  height: 100%;
}

#vl-l{
  left: 0;
  position: fixed;
  display: block;
  background-color: white;
  width: 5rem;
  z-index: 100;
  border-right: 6px solid rgb(255,215,35);
  height: 100%;
}

.container{
  display: flex;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem 6rem;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

*, ::before, ::after{
  box-sizing: inherit;
}

.haupttext{
  max-width: 800px;
  width: 70%;
  min-width: 200px;
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 7rem;
}

.box-rightSide{
  width: 20%;
}

#impressum{
  bottom: 2rem;
}

#whitebox-bt{
  bottom: 0;
  margin-left: 5rem;
  background-color: white;
  position: relative;
}

#hl-bt{
  z-index: 102;
  border-top: 6px solid rgb(255,215,35);
  position: relative;
  height: 7rem;
  width: 100%;
  background-color: white;
  bottom: 0;
}


/*_____MOBILE___________*/

@media only screen and (max-width: 800px) {
  body {
    width: 90%;
    margin-left: 3em;
    margin-right: 3em;
  }

  h1{
    font-size: 10em;
  }

  h2{
    font-size: 7em;
  }

  h6{
    font-size: 2em
  }

  p{
    font-size: 4.5em;
  }
}
