/*___________FONTS______________*/

@font-face {
    font-family: "Expletus Sans Bold";
    src: url("./fonts/ExpletusSans-Bold.ttf");
}

@font-face {
  font-family: "Open Sans Bold";
  src: url("./fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Open Sans Regular";
  src: url("./fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans Light";
  src: url("./fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: "Open Sans Semibold";
  src: url("./fonts/OpenSans-Semibold.ttf");
}

/*________TEXT DEFINITION___________*/

body{
  font-family: "Open Sans Regular";
  font-size: 1em;
  color: #216966;
  overflow: auto;
  word-break: normal;
  word-wrap: break-word;
  background-color: #FFD96B;
}

h1 {
  color: #FFD96B;     /*gelb*/
  font-family: "Expletus Sans Bold", Verdana;
  font-size: 5em;
  text-align: left;
  margin-top: 0rem;
}

#hello {
  color: #216966;    /*dunkler türkis*/
  font-family: "Open Sans Light";
  font-size: 3em;
  text-align: left;
  padding-top: 1.5rem;
  padding-bottom: 0.2rem;
}

h1, h2, h3, h4, h5, p, a, span {
  margin: 0;
  text-align: left;
  z-index: 50;
}

h2 {
  color: #289973;   /*heller türkis*/
  font-family: "Expletus Sans Bold";
  font-size: 2.5em;
  text-align: left;
  padding-top: 1rem;
  margin-top: 1rem;
}

h3 {
  color: #289973;
  font-family: "Open Sans Bold";
  font-size: 1.5em;
  padding-top: 1em;
  margin-bottom: 0.5rem;
}

h4{
  color: #289973;
  font-family: "Open Sans Semibold";
  font-size: 1.2em;
  padding-left: 0.5rem;
  padding-bottom: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.1rem;
  border-bottom: #FFD96B solid;
}

h5{
  color: #289973;
  font-family: "Open Sans Semibold";
  font-size: 1em;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-top: 0.3rem;
}

p, span{
  font-family: "Open Sans Regular";
  font-size: 1rem;
  color: #216966;     /*dunkler türkis*/
	line-height: 1.6;
  margin-bottom: 0.6rem;
  display: block;
}

p::after{
  white-space: pre-wrap;
}

a{
  font-family: "Open Sans Regular";
  font-size: 1em;
  color: #216966;
  text-decoration: underline #FFD96B dotted 0.1rem;
  -webkit-text-decoration: underline;
  -webkit-text-decoration-color: #FFD96B;
  -webkit-text-decoration-style: dotted;
  -webkit-text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.2rem;
  margin-left: 0.2rem;
  display: inline;
}

a:hover{
    background-color: #FFD96B2B;
}

ul{
  margin-top: 0.2em;
  margin-bottom: 1em;
}

/* Tabular Resume */

td{
  vertical-align: top;
  padding-top: 0.8em;
  padding-right: 0.2em;
}

/*_________Cookies Overlay__________*/

#cookies{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 25%;
  margin: auto;
  background-color: #FFD96BA6;
  z-index: 200;
}

#cookiemain {
  position: fixed;
  width: 90vw;
  display: flex;
  min-width: 200px;
  /*max-width: 800px;*/
  min-height: 8rem;
  /*max-height: 35rem;*/
  /*top: 0;*/
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background-color: #FCFCFC;
  z-index: 205;
  padding-top: 2rem;
  padding-bottom: 0.2em;
  align-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  border: #FFD96BD4;
  border-style: solid;
  border-bottom-style: none;
}

.cookie-flex{
  display: flex;
  margin: 0 1.2rem;
}

button{
  border: none;
}

#close{
  display: flex;
  background-color: #FFD96B;
  float: left;
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 0.2rem;
}

/* Thumbnails for File Downloads*/

.thumbnailDiv{
  position: relative;
}

.thumbnail{
  border-style: solid;
  border-width: 2px;
  width: 90%;
  max-width: 500px;
}


.thumbnailText{
  position: absolute;
  margin: 0.5rem 0.8rem;
  margin-right: 0;
  bottom: 0.5rem;
  left: 0;
  padding: 0.5rem;
  padding-left: 1.5rem;
  background-color: #FFD96BDB;
}

.thumbnailText img{
  height: 2rem;
  width: auto;
}

/*___RECIPE TABLE____*/

#table_recipe td{
  padding-right: 0.5em;
}

.cell_date{
vertical-align: bottom;
padding-left: 0.2rem;
}

.cell_description{
  padding-top: 0.2rem;
}


/*_______BROWSER________*/

body {
  margin: 0;
}

.whiteBackground{
  margin: 0 5rem;
  padding: 1rem 2rem;
  
  min-height: 85vh;
  box-sizing: border-box;
  background: #FCFCFC;
}

.container{
  display: flex;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  /*align-items: baseline;*/
}



.column{
  flex-direction: column;
}

.flexcontainer{
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.fullWidth{
  width: 100%;
  padding: 0.5em 1em;
}

.twoThirds{
  width: 60%;
  padding: 0.5em 1em;
}

.oneThird{
  width: 30%;
  padding-left: 1em;
  padding-top: 0.5em;
}

.projectDiv.twoThirds{
  border-top: 2px #FFD96B solid;
  margin-top: 0.2rem;
}

.downloadIcon{
  color: #289973;
}

.downloadIcon a{
  margin-bottom: 1rem;
}

.downloadIcon img{
  height: 2rem;
  width: auto;
  margin: 0 1rem;
  color: #289973;
}

.downloadList{
  margin-bottom: 1.5rem;
}

.someSpace{
  padding-top: 5rem;
}

#white-lines-box{
  border-left: 6px solid #FCFCFC;
  border-bottom: 6px solid #FCFCFC;
  display: inline-block;
  background-color: #216966;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 106;
  border-radius: 0 0 0 10px ;
}

#yellow-lines-box{
  border-top: 6px solid #FFD96B;
  border-right: 6px solid #FFD96B;
  margin-top: 1rem;
  bottom: 0;
  margin-right: 4.95rem;
  position: relative;
  z-index: 105;
  border-radius: 0 5px 0 5px;
}

#yellow-lines-box a{
  font-size: 2rem;
  color: #FFD96B;
  text-align: center;
  display: inline-block;
  font-family: "Expletus Sans Bold";
  max-width: 350px;
  margin: 0.5rem;
  padding: 1rem 2rem;
  position: relative;
  z-index: 110;
  text-decoration: none;
}

#yellow-lines-box a:hover{
  background-color: #FFD96B00;
}


#vl-r{
  right: 0;
  position: fixed;
  display: block;
  background-color: #216966;
  width: 4.95rem;
  z-index: 104;
  border-left: 6px solid #FFD96B;
  height: 100%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

*, ::before, ::after{
  box-sizing: inherit;
}

.haupttext{
  max-width: 800px;
  min-width: 200px;
  display: block;
  min-height: 40vh
}

.pic{
  width: 100%;
  max-width: 300px;
  height: auto;
}

.logo{
  height: 23px;
  width: auto;
  padding-right: 0.2em;
  padding-top: 0.1em;
}

.lebenslauf{
  background-color: #FFD96B;
  max-width: 800px;
  width: 70%;
  min-width: 200px;
  margin-left: 3em;
  margin-right: 3em;
}

#background_pic{
  position: absolute;
  right: 5rem;
  top: 9rem;
  max-height: 30em;
  min-height: 80px;
  z-index: 0;
}

#pictoright{
  padding-left: 1em;
  padding-top: 0.5em;
  text-align: right;
  margin-left: auto;
  order: 2;
}

#footer{
  bottom: 2rem;
  padding-bottom: 2em;
  width: 100%;
  background-color: #FCFCFC;
  flex-flow: wrap;
  margin: auto;
  flex-direction: row;
  display: flex;
}

#whitebox-bt{
  bottom: 0;
  padding-left: 5rem;
  padding-right: 5rem;
  background-color: #FCFCFC;
  position: relative;
  border-top: 6px solid #FFD96B;
  z-index: 108;
}

#hl-bt{
  z-index: 102;
  border-top: 6px solid #FFD96B;
  position: relative;
  height: 0.1rem;
  width: 100%;
  background-color: #FCFCFC;
  bottom: 0;
}

/*_____VERY WIDE SCREENS_______*/

@media screen and (min-width: 1750px) {
  .container{
    max-width: 1500px;
  }
}

/*_____SMALLER___________*/

@media only screen and (max-width: 1100px) {
  body {
    width: 100%;
    margin: auto;
  }

  .container {
    /*flex-direction: column;*/

  }

  .container > * {
    /*
    flex-basis: 1;
    */
  }

  .whiteBackground{
    margin: 0 1.5rem;
  }

  .twoThirds{
    width: 80%;
  }

  .oneThird{
    width: 45%;
  }

  #pictoright{
    order: 1;
  }

  #about-text{
    width: 50%;
  }

  #resume{
    width: 80%;
  }

  .someSpace{
    padding-top: 0;
  }

  #vl-r{
    width: 1.5rem;
  }

  #yellow-lines-box{
    margin-right: 1.5rem;
  }

  #whitebox-bt{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  #background_pic{
    right: 1.5rem;
    top: 9rem;
    max-width: 8em;
  }
}

@media only screen and (max-width: 700px) {
  .twoThirds{
    width: 90%;
  }

  .oneThird{
    width: 90%;
  }

  #pictoright{
    width: 45%;
  }

  #resume{
    width: 90%;
  }

  h1{
    font-size: 4em;
    padding-top: 1rem;
  }

  h2{
    font-size: 2.5em;
    padding-top: 1rem;
  }

  #background_pic{
    max-width: 7em;
    top: 8rem;
  }
}


/*_______MOBILE__________*/
@media only screen and (max-width: 500px) {
  body {
    width: 100vw;
    margin-left: 0em;
    margin-right: 0em;
  }

  h1{
    font-size: 2.8em;
  }

  h3{
    font-size: 1.5em;
  }

  .row, .container {
    flex-direction: column;
  }

  #vl-r{
    width: 0.5rem;
  }

  #yellow-lines-box{
    margin-right: 0.5rem;

  }

  #yellow-lines-box a{
    font-size: 1.5rem;
    padding: 0.7rem 1.2rem;
  }

  #namebox-top{
    height: 5.3em;
  }

  .container{
    width: 100%;
  }

  .whiteBackground{
    padding: 0.1em 0.5em;
    margin: 0;
    border-left: 0;
  }

  #background_pic{
    right: 0.5rem;
    top: 7rem;
    max-width: 6em;
    height: auto;
    }

  .oneThird, .twoThirds, .resume{
    width: 100%;
  }

  #pictoright{
    width: 80%;
    margin-right: 1em;
  }

  #whitebox-bt{
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
}

/* Video player for project videos */

.videoplayer{
  width: 100%;
  height: auto;
  z-index: 200;
  max-width: 1000px;
}

.videoDiv{
  visibility: collapse;
  display: none;
}

.buttonToggleVideo{
  position: absolute;
  display: flex;
  margin: 0.5rem 0.8rem;
  bottom: 1rem;
  padding: 1.5rem;
  background-color: #FFD96B94;
}

.buttonOnVideo{
  position: absolute;
  display: flex;
  margin-right: 0.5rem;
  margin-top: 0.2rem;
  padding: 0.2rem 0rem;
  background-color: #FFD96B52;
  z-index: 210;
  top: 0;
  right: 0;
}

.buttonOnVideo h5{
  margin: 0;
}

.buttonOnVideo:hover{
  background-color: #FFD96B;
}

/*___Projects with Description__*/
.descriptionDiv{
  visibility: collapse;
  display: none;
  line-height: 1.6em;
}

.toggleDescriptionButton{
  display: block;
  margin: 0.5rem 0;
  color: #216966;
  background-color: #FFD96B48;
  padding: 0.2rem 1rem;
}
